{
	"files": {
		{% for file in files -%}
		{{ file.file_rel_path | string | tojson }}: {
			"sha1": {{ file.sha1 | string | tojson }},
			"license": {{ file.licenses | list | tojson }}
		}{% if not loop.last %},{% endif %}
		{% endfor -%}
	}
}
