# Document Information

SPDXVersion: SPDX-2.2
DataLicense: CC0-1.0
SPDXID: SPDXRef-DOCUMENT
DocumentName: west-ncs-sbom-report
DocumentNamespace: http://spdx.org/spdxdocs/west-ncs-sbom-{{report_uuid}}

# Creation Info

Creator: Tool: west-ncs-sbom
Created: {{func.timestamp()}}
CreatorComment:<text>Generated with west-ncs-sbom. For details, see https://developer.nordicsemi.com/nRF_Connect_SDK/doc/latest/nrf/introduction.html#licenses.</text>

{% set files_by_package = func.group_by(files, 'package') -%}

{% for package_id in files_by_package -%}

# Package Information

PackageName: {{packages[package_id].name or packages[package_id].url or 'unknown-package'}}
SPDXID: {{packages[package_id].spdx_id}}
{% if packages[package_id].version -%}
PackageVersion: {{packages[package_id].version}}
{% endif -%}
PackageDownloadLocation: {{packages[package_id].url or 'NONE'}}
{% if packages[package_id].supplier_name -%}
PackageSupplier: Organization: {{packages[package_id].supplier_name}}{{ ' (' ~ packages[package_id].supplier_contact ~ ')' if packages[package_id].supplier_contact else '' }}
{% endif -%}
{% for ref in packages[package_id].external_refs -%}
ExternalRef: {{ref.reference_category}} {{ref.reference_type}} {{ref.reference_locator}}{{ ' <text>' ~ ref.comment ~ '</text>' if ref.comment else '' }}
{% endfor -%}
FilesAnalyzed: true
PackageVerificationCode: {{files_by_package[package_id] | verification_code}}
PackageLicenseConcluded: NOASSERTION
PackageLicenseInfoFromFiles: NOASSERTION
PackageLicenseDeclared: NOASSERTION
PackageCopyrightText: NOASSERTION

{% for file in files_by_package[package_id] -%}

# File

FileName: {{func.relative_path(file.file_path)}}
SPDXID: {{file.spdx_id}}
FileChecksum: SHA1: {{file.sha1}}
{% if file.local_modifications -%}
FileComment: <text>This file is modified locally.</text>
{% endif -%}
LicenseConcluded: {{ file.license_expr | adjust_identifier if file.license_expr != '' else 'NOASSERTION' }}
LicenseInfoInFile: NOASSERTION
FileCopyrightText: NOASSERTION

{% endfor -%}

{% endfor -%}

# Extracted Licenses
{% for license in licenses_sorted if not licenses[license].is_expr and licenses[license].text %}
LicenseID: {{licenses[license].friendly_id}}
{% if licenses[license].name -%}
LicenseName: {{licenses[license].name}}
{% endif -%}
{% if licenses[license].url -%}
LicenseCrossReference: {{licenses[license].url}}
{% endif -%}
ExtractedText: <text>{{ licenses[license].text }}</text>
{% endfor %}

{% if relationships and relationships|length > 0 -%}

# Relationships
{% for relation in relationships -%}
Relationship: {{relation.spdx_id}} {{relation.relationship_type}} {{relation.related_spdx_id}}{{ ' <text>' ~ relation.comment ~ '</text>' if relation.comment else '' }}
{% endfor -%}
{% endif -%}
